body {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  background-color: #333;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 30px;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.81);
  width: 20vw;
  padding: 20px;
  z-index: 999;
}

.data-wrap {
  display: flex;
}

.info-wrap {
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: goldenrod;
}

ul li {
  list-style-type: none;
}
